body{
    text-align: center;
    background-color:aquamarine;
}

h1{
    font-family:Georgia, serif ;
    font-size:4rem;
    color:green;
    margin:50px auto 80px auto;
}
.container
{
    background-color: aqua;
}
.dice1
{
    height:300px;
    width:300px;
    position:absolute;
    left:50px;
    
}
.dice2
{
    height:300px;
    width:300px;
    position:absolute;
    right:0px;
    top:190px;
}
footer
{
    margin-top:400px;
}

    
